<mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Starter</button>
  <button mat-menu-item [matMenuTriggerFor]="sub1Menu">Main Course</button>
  <button mat-menu-item [matMenuTriggerFor]="sub2Menu">Desserts</button>
</mat-menu>

<button class="center"  [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #subMenu="matMenu">
<button mat-menu-item>Starter1</button>
<button mat-menu-item>Starter2</button>

</mat-menu>

<mat-menu #sub1Menu="matMenu">
<button mat-menu-item>Maincourse1</button>

</mat-menu>

<mat-menu #sub2Menu="matMenu">
<button mat-menu-item>Desserts1</button>

</mat-menu>
